@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --rose50: hsl(20, 50%, 98%);
    --rose100: hsl(13, 31%, 94%);
    --rose300: hsl(14, 25%, 72%);
    --rose400: hsl(7, 20%, 60%);
    --rose500: hsl(12, 20%, 44%);
    --rose900: hsl(14, 65%, 9%);
}

body {
    background-color: var(--rose50);
}

.container {
    display: flex;
    justify-content: center;
    width: 1260px;
    margin-top: 40px;
}
h1{
    width: 120px;
    margin-left: 150px;
    padding-top: 50px;
}

.dessert-menu{
    width: 760px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-family: "Red Hat Text";
    font-weight: 400;
}

.dessert-imgs {
    width: 240px;
    padding-top: 40px;
}

.dessert-imgs > img {
    width: 220px;
    border-radius: 10px;
}

.dessert-imgs > button {
    position: relative;
    bottom: 25px;
    background-color: var(--rose50);
    border-color: var(--rose300);
    border-radius: 30px;
    width: 140px;
    height: 40px;
    text-align: center;
    font-family: "Red Hat Text";
    font-weight: 600;
    word-spacing: -1px;
}

.dessert-imgs h4,h5,h6 {
    display: flex;
    padding-left: 10px;
}

.dessert-imgs h6{
    color: var(--rose300);
}

.dessert-imgs h4{
    color: var(--rose900);
}

.dessert-imgs h5{
    color: var(--red);
}

.dessert-imgs > button > img {
    position: relative;
    width: 18px;
    right: 3px;
    top: 3px;
}

.your-cart {
    display: none;
    background-color: white;
    border-radius: 10px;
    width: 240px;
    height: 180px;
    font-family: "Red Hat Text";
    font-weight: 300;
    /* display: flex; */
    /* justify-content: baseline; */
}

.your-cart > h4 {
    color: var(--red);
    padding-left: 20px;
    padding-top: 10px;
}

.your-cart > h6 {
    padding-left: 25px;
    padding-top: 5px;
}

.your-cart > img {
    position: relative;
    left: 70px;
    width: 64px;
    padding-top: 20px;
}

.your-cart-items {
    background-color: white;
    border-radius: 10px;
    width: 280px;
    height: 240px;
    font-family: "Red Hat Text";
    font-weight: 300;    
        
}

.your-cart-items > h4 {
    color: var(--red);
    padding-left: 20px;
    padding-top: 10px;
}

.order-items > button {
    position: relative;
    float: right;
    border-radius: 10px;
}

.ordercount {
    color: var(--red);
    padding-left: 5px;
}

.orderprice {
    color: var(--rose300);
    padding-left: 5px;
}

.ordersum {
    color: var(--rose500);
    padding-left: 5px;
}

.ordertotal {

}

.sum {
    float: right;
}

.confirmorder {
    display: block;
    text-align: center;
}

.confirmorder > p {
    border: 1px solid ;
    border-radius: 10px;
    padding-left: 30px;
}

.confirmorder > button {
    width: 120px;
    height: 40px;
    color: var(--rose50);
    background-color: var(--red);
    border-radius: 10px;
    
}