@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --rose50: hsl(20, 50%, 98%);
    --rose100: hsl(13, 31%, 94%);
    --rose300: hsl(14, 25%, 72%);
    --rose400: hsl(7, 20%, 60%);
    --rose500: hsl(12, 20%, 44%);
    --rose900: hsl(14, 65%, 9%);
}

body {

}

.container {
    display: inline-flex;
    width: 1260px;
}
h1{
}

.dessert-menu{
    width: 780px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-family: "Red Hat Text";
    font-weight: 400;
}

.dessert-imgs {
    width: 240px;
    padding-top: 10px;
}

.dessert-imgs > img {
    width: 220px;
    border-radius: 10px;
}

.dessert-imgs > button {
    position: relative;
    bottom: 25px;
    background-color: var(--rose50);
    border-color: var(--rose300);
    border-radius: 30px;
    width: 140px;
    height: 40px;
    text-align: center;
    font-family: "Red Hat Text";
    font-weight: 600;
    word-spacing: -1px;
}

.dessert-imgs h4,h5,h6 {
    display: flex;
    padding-left: 10px;
}

.dessert-imgs h6{
    color: var(--rose300);
}

.dessert-imgs h4{
    color: var(--rose900);
}

.dessert-imgs h5{
    color: var(--red);
}

.dessert-imgs > button > img {
    position: relative;
    width: 18px;
    right: 3px;
    top: 3px;
}

.your-cart {    
    width: 220px;
}